@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules');

.App {
  text-align: center;
}

h1{
  font-family: 'Bigelow Rules';
  font-size: 72px;
  color: darkcyan;
  margin-bottom: 10px;
}